@import "../../sass/_global";
.fNav {
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
#dropdown-basic {
  color: #000;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}
#dropdown-basic:focus {
  outline: none;
  box-shadow: none;
}
#dropnav {
  margin: auto 0;
  .accountLog{
    padding:20px
  }
}
svg:hover {
  color: $MainColor;
}

#searchButton {
  background-color: transparent !important;
  border: none;
  color: #ddd;
  border-right: 1px solid #ddd;
  /* position: absolute; */
}
#searchForm {
  height: 40px;
  border-radius: 50px;
  padding-right: 20px;
  margin: auto 20px;
  border: 1px solid #ddd;
}
.searchBar {
  background-color: transparent;
}
#searchForm ::placeholder {
  padding: 50px;
}
#searchTerm {
  border: 0;
}
/* .Icons{
    margin: auto;
  } */
.Icons {
  margin: auto;
  .icon {
    margin: auto 10px;
    // padding-left:10px;
  }
}
.navLink {
  color: black !important;
  margin: 1% 50px;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    color: $MainColor !important;
    border-bottom: 2px solid $MainColor;
  }
}
#basic-nav-dropdown:hover {
  color: $MainColor !important;
}
.Icons {
  position: relative;
  .cart-icon {
    margin-right: 30px;
    .numOfClass {
      // width: 20px;
      // height: 20px;
      padding: 1px 7px;
      background-color: $MainColor;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 13px;
      right: 20px;
    }
  }
}

.MainBar{
  position: relative;
  .listItems {
    display: none;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35vw;
    z-index: 100;
    background-color: #FFF;
    h3{
      font-size: 400px;
      color: aqua;
      span{
        padding-left: 30px ;
        padding-right: 30px ;
      }
      &::after{
        content: '';
        display: block;
        border-bottom: 2px solid $MainColor;
        width: 50px;
      }
    }
  }
  .cartactive {
    display: block;
  }
  .close-icon{
    font-size: 30px;
    margin-bottom: 20px;
  }
}

