@import "../../sass/_global";

.MColor {
  @include btnStyles;
  width: 100%;
}
.formItem {
  padding: 3%;
  border: 1px solid #ddd;
  width: 43%;
  margin: 2%;
  border-radius: 5px;
  h6 {
    font-size: 25px;
  }
}
